<!--footer.tpl start-->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/js/app.js"></script>
</body>
</html>
<!--footer.tpl end-->